body {
    background-color: #154343;
    margin: 0;
}

.header-container {
    display: flex;
    border: 3px solid red;
    justify-content: space-evenly;
    padding: 20px;
    flex-wrap: wrap;
}

.header-rock,
.header-paper,
.header-scissors {
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 16px;
    border: 3px solid green;
}

.rock-btn,
.scissors-btn,
.paper-btn {
    width: 5em;
    height: 3em;
    font-size: 24px;
}

.rock-btn{
    background-color: gray;

}

.paper-btn{
    background-color: #fff;

}

.scissors-btn{
    background-color: #d4af37;

}